@{
    ViewBag.Title = "About";
    ViewBag.Message = "Hello this is About Us Page";
}
<main aria-labelledby="title">
  
    <h3>@ViewBag.Message</h3>

    <p>Hello, Ajit this side i am Intern at HGS,
        I am a B.Tech student at Thakur college of engineering and technology in Artificial intelligence and data science.
         This is our first task to make a user Login and signup page as a intern. 
        
    
    </p>
</main>